*{

    margin: 0;
    padding: 0;

}

.main{

    width: 100vw;
    height: 100vh;

}

.blur{

    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

}

#nomes{

    width: 50vw;
    height: 100px;

}

#editar{

    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.container{

    width: 500px;
    height: 500px;

}

#container1{

    background-color: aqua;
    display: flex;

}

#container2{

    background-color: red;
    display: none;

}

#container3{

    background-color: rgb(2, 177, 153);
    display: none;

}

#container4{

    background-color: green;
    display: none;

}

#container5{

    background-color: yellow;
    display: none;

}

#container6{

    background-color: purple;
    display: none;

}